pandas
numpy
transformers
sentence_transformers
bert_score
datasets
hnswlib
evaluate
torch
spacy
jupyter
notebook==5.7.5
seaborn
jypmatplotlib
seaborn
python-dotenv
statsmodels
bitsandbytes-cuda
bitsandbytes
accel
git+https://github.com/IBM/unitxt
